*{
    width: 1000px; /*The layout of 1000px.*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px; /*For all the website*/
    
}


header {
    width: 1000px;
    height: 120px;
    background-color: #212F3C;
    display: flex;
    align-items: center;
}

header img {
    width: 150px;   
    height:120px;
}
#titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;     
}

header h1{
    color: white;
    font-size: 20px;
}
header p {
    color: white;
    font-size: x-small;
    right: 540px;
}

.menu ul li {
    display: inline;
    display: block;
    padding: 8px;
    background-color: #BB8FCE;

}





footer{
    background-color: #212F3C;
    height: 70px;
    position: relative;
}
#TOP {
    color: white;
    top: 0;
    left: 0;
}
#BOT{
    color: white;
    bottom: 0;
    right: -20px;
}