*{
    width: 1000px; /*The layout of 1000px.*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px; /*For all the website*/
    
}


header {
    width: 1000px;
    height: 120px;
    background-color: #212F3C;
    position: relative;
}

header img {
    position: absolute;
    width: 200px;   
    height:120px;
}

#titulo {
    position: absolute;
    top: 10%;
    left: 500px;
}

#subtitulo  {
    position: absolute;
    top: 45%;
    left: 540px;
}


header h1{
    color: white;
    font-size: 20px;
}
header p {
    color: white;
    font-size: x-small;
    right: 540px;
}




.menu {
    position: relative;
    float: left;
    top: 0;
    left: 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu ul li {
    display: inline;
    height: 50px;
    padding: 50px;
    background-color: #BB8FCE;

}

.menu ul li a {
    color: white;
    text-align: center;
}





footer{
    background-color: #212F3C;
    height: 70px;
    position: relative;
}
#TOP {
    color: white;
    top: 0;
    left: 0;
}
#BOT{
    color: white;
    bottom: 0;
    right: -20px;
}