//colores estados
$color-success: #2ecc72;
$color-warning: #f1c40f;
$color-error: #e74c3c;
$color-normal: #333333;

//fons percentatges
$fon-obscur: 25%;
$fon-clar: 50%;

//hx sizes
$numero_fuente:2em;





